.add-to-cart-btn{
    background-color: #49A6A2; 
    color: white;
    font-weight: 500;
    padding: 6px 20px;
    font-size: small;
    border-radius: 5px;
  }

  .product-data:hover{
    background-color: white;
    transform: translateY(-15px);
    transition: transform 0.5s ease-in-out;
  }
  .product-data:hover h5{
    color: #49A6A2;
  }

  .custom-prev-p,
.custom-next-p {
  background-color:#09a69b;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-prev-p {
  left: 10px;
}

.custom-next-p {
  right: 10px;
}
