.offer-product-special-slide {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid rgb(235, 232, 232);
    border-radius: 5px;
  }
  
.offer-product-special-image {
    width: 160px;
    height: 200px;
    object-fit: cover;
  }
  
.offer-product-special-name {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
  }
  
.offer-product-special-add-to-cart-btn {
    background-color: #49A6A2; 
    color: white;
    font-weight: 500;
    padding: 5px 22px;
    font-size: small;
    border-radius: 5px;
  }
  
.offer-product-special-discount {
    position: absolute;
    top: 10px;
    left: 1px;
    background-color: #49A6A2; 
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    font-size: small;
    border-right: 1px solid #49A6A2;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  
.offer-product-special-heart {
    position: absolute;
    top: 6px;
    right: 10px;
  }
  
.offer-product-special-data {
    padding-top: 5px;
  }
  
.offer-product-special-data:hover {
  transform: translateY(-15px);
  transition: transform 0.5s ease-in-out;
  }
