.product-individual-filter-head {
  background-color: #14949d59;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.product-individual-filter div {
  width: 100%;
}

.product-individual-filter-slide {
  border-radius: 5px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;

}

.product-individual-filter-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: auto;
  height: auto;
  z-index: 3;
}

.product-individual-filter-add-to-cart-btn {
  background-color: #49a6a2;
  color: white;
  font-weight: 500;
  padding: 5px 22px;
  font-size: small;
  border-radius: 5px;
}

.product-individual-filter-data:hover {
  transform: translateY(-15px);
  transition: transform 0.5s ease-in-out;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 54px;
  cursor: pointer;
  color: grey;
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.stars {
  color: #ccc;
  font-size: xx-large;
}

.reviews {
  margin-left: 5px;
  font-size: 14px;
}

.product-pricing {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.original-price {
  font-size: 16px;
  text-decoration: line-through;
  color: red;
  margin-left: 10px;
  margin-bottom: 30px;
}

.zipcode-check {
  margin: 15px 0;
}

.zipcode-check input {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
  border: 2px solid grey;
}

.zipcode-check button {
  padding: 5px 10px;
  border: 1px solid #49A6A2;
  background: none;
  cursor: pointer;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.product-quantity button {
  padding: 5px 10px;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.product-quantity input {
  text-align: center;
  width: 30px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.product-actions {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}
.add-to-favorite {
  color: red;
  border: 2px solid red;
  font-weight: 500;
  padding: 5px 22px;
  font-size: small;
  border-radius: 5px;
}

.seller-info {
  margin: 15px 0;
}

.product-tags {
  margin: 15px 0;
}

.tag {
  font-weight: bold;
}

.tag-item {
  background-color: #ccc;
  font-size: small;
  padding: 2px 8px;
  margin: 10px;
  border-radius: 4px;
}
